.box {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.tables {
  box-sizing: border-box;
  margin: 20px;
}

.player1 {
  background-color: limegreen;
}
.player2 {
  background-color: magenta;
}
.pieceLarge,
.pieceMiddle,
.pieceSmall {
  margin: 0px auto;
  border-radius: 50%;
}
.pieceLarge {
  height: 90%;
  width: 90%;
}
.pieceMiddle {
  height: 60%;
  width: 60%;
}
.pieceSmall {
  height: 30%;
  width: 30%;
}
.replay {
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
}
.replay input {
  width: 100%;
}
.message {
  height: 48px;
  overflow: hidden;
}
.message p {
  margin: 0px auto;
  animation: fadeout 3s;
  animation-fill-mode: both;
  font-size: 16px;
  text-align: center;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1.5s infinite both;
}
@keyframes blink {
  40%,
  60% {
    background-color: rgb(255, 255, 255);
  }
  50% {
    background-color: rgb(198, 239, 255);
  }
}

td {
  height: 100px;
  width: 100px;
  text-align: center;
  border: solid 4px;
}

table {
  border-collapse: collapse;
}

p {
  margin: 10px;
  font-size: 30px;
  text-align: center;
}
